/* @import url('https://fonts.cdnfonts.com/css/zipper-2');
/* font-family: 'Zipper', sans-serif;/ */
      
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
font-family: 'Nunito Sans', sans-serif;/ */


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(205, 190, 211);;
}

.card{
    display: flex;
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    justify-content: space-between;
    padding: 50px 0;
}

.card_item{
    background-color: rgb(255, 255, 255);
    width: 30%;
    min-height: 600px;
    overflow: hidden;
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 32px -16px rgba(148, 148, 148,0.05)
}

.card_figure{ 
     height: 50%;

}
.card_img{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

h2{
    text-align: center;
    color: rgb(146, 141, 246);;

}

.paragraph{
    padding:  20px;
    text-align: justify;
}

.enlace {
    text-decoration: none;
    margin-bottom: 20px;
}

.boton_click {
    background-color: rgb(230, 82, 107);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.boton_click:hover {
    background-color: rgb(146, 141, 246);
}

    